*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}

h1{
    color: #fff;
    text-align: center;
    margin-top: 300px;
    font-style: italic;
    font-weight: 300;
    text-decoration: overline;
}